@import "reset";
@import "fonts";

$maincolor:#00100f;

body{
    background-color:$maincolor;
}
.container{
    max-width: 1080px;
    margin: 0 auto;
}
//--- верхняя часть ---
.header-top{    
    background: #004643;
    padding: 11px 0;
    .phone-social{
        display: flex;
        justify-content: flex-end;
        a{
            font-family:  "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 14px;
            color: #fff;
            img{
                margin-right: 10px;
            }
        }
        .social{
            display: flex;
            margin-left: 48px;
            li{
                margin-right: 30px;
            }
            li:last-child{
                margin-right: 0px;
            }
        }
    }
}
//--- нижняя часть ---
.header-button{
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05);
    background: #000908;
    padding: 19px 0;
    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__menu{
            display: flex;
            li{
                margin-right: 42px;
                a{
                    font-family: "Montserrat", "sans-serif";
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 140%;
                    color: #fff;
                }
            }
            li:last-child{
                margin-right: 0;
            }
        }
    }
}
.banner{
   background-image: url("../img/png/banner-index.png");
   background-position-x: right;
   background-repeat: no-repeat;
   padding-top: 66px;
   padding-bottom: 106px;
   &__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   &__text{
    h1{
        font-family: "Dela Gothic One", sans-serif;
        font-weight: 400;
        font-size: 54px;
        color: #fff;
        max-width: 511px;
        line-height: 78.2/54*100%;
        span{
            color: #33b0aa;
        }
    }
    ul{
        margin-bottom: 47px;
        li{
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 20px;
            line-height: 140%;
            color: #fff;
            margin-bottom: 16px;
            padding-left: 12px;
            border-left:2px solid  #28b0a9; 
        }
        li:last-child{
            margin-bottom: 0px;;
        }
    }
    button{
        position: relative;
        border: none;
        background: transparent;
        overflow: hidden;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #fff;
        padding: 16px 30px;
        span{
            
        }
    }
    button:after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        background: linear-gradient(180deg, #fff 0%, #b5b5b5 100%);
        border-radius: 12px;
        box-shadow: 0px 20px 40px 0 rgba(51, 51, 51, 0.47), inset 0px 9px 9px 0 #fff, inset -0px -9px 9px 0 #a2a2a2;
        opacity: 0.2;
    }
   }
}