@font-face {
    font-family: 'SF Pro Display';
    src: url('../Fonts/SF/SFProDisplay-Medium.woff2') format('woff2');   
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../Fonts/SF/SFProDisplay-Regular.woff2') format('woff2');  
    font-weight: 500;
    font-style: normal;
}